:root {
  --primary: #FFFFFF;
  --primary-text: #FFFFFF;
  --secondary: #ae690b;
  --secondary-text: #ddbc24;
  --accent: #b6416d;
  --accent-text: #FFFFFF;
  --primary-hover: #b6416d;
  --header-bottom-border-color: #ddbc24;
  --mint-info: #000000;
  --introduction: #2c2f31;